:root {
    --shadow-color: 320deg 24% 51%;
    --shadow-elevation-low:
      0px 0.4px 0.4px hsl(var(--shadow-color) / 0.41),
      0px 0.6px 0.6px -1.6px hsl(var(--shadow-color) / 0.35),
      0px 1.6px 1.6px -3.2px hsl(var(--shadow-color) / 0.29);
    --shadow-elevation-medium:
      0px 0.4px 0.4px hsl(var(--shadow-color) / 0.43),
      0px 1.1px 1.1px -1.1px hsl(var(--shadow-color) / 0.39),
      0px 3.1px 3.2px -2.1px hsl(var(--shadow-color) / 0.34),
      0px 7.9px 8.1px -3.2px hsl(var(--shadow-color) / 0.29);
    --shadow-elevation-high:
      0px 0.4px 0.4px hsl(var(--shadow-color) / 0.46),
      0px 2px 2px -0.5px hsl(var(--shadow-color) / 0.43),
      0px 4.1px 4.2px -1.1px hsl(var(--shadow-color) / 0.4),
      0px 7.7px 7.9px -1.6px hsl(var(--shadow-color) / 0.37),
      -0.1px 14px 14.3px -2.1px hsl(var(--shadow-color) / 0.34),
      -0.1px 23.8px 24.3px -2.7px hsl(var(--shadow-color) / 0.32),
      -0.2px 38.4px 39.2px -3.2px hsl(var(--shadow-color) / 0.29);
  }

body {
    width: 100%;
    background-color: rgba(166, 240, 166, 0.8);
    margin: 0;
    padding: 0;
    font-family: "Playfair Display";
    font-size: 18px;
    color: white;
}

header {
    display: grid;
    grid-template-columns: 170px 1fr 170px;
    grid-template-rows: auto auto;
    gap: 10px;
    align-items: center;
    padding: 1em 2%;
    background: url("../img/hero-1.jpg") border-box no-repeat top center;
    background-size: cover;
    box-shadow: var(--shadow-elevation-high);
    text-shadow: 1px -2px 3px whitesmoke;
}

.logo-container img {
    height: 115px;
    bottom: 2px;
}

.logo-text {
    position: absolute;
    bottom: 2px;
    left: 0;
    font-family: "Amatic SC";
    font-size: 25px;
    font-weight: 700;
}

.submit {
    align-self: center;
    margin-left: auto;
    background: -webkit-linear-gradient(315deg, rgb(204, 132, 145) 45%, rgb(189, 70, 96) 85%, rgb(210, 48, 105));
    background: -moz-linear-gradient(315deg, rgb(204, 132, 145) 45%, rgb(189, 70, 96) 85%, rgb(210, 48, 105));
    background: linear-gradient(315deg, rgb(204, 132, 145) 45%, rgb(189, 70, 96) 85%, rgb(210, 48, 105));
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    border: 3px outset transparent;
    border-radius: 10px;
}

.submit:hover {
    background: rgb(204, 132, 145, 0.3);
    color: rgb(145, 53, 73);
    border: 3px outset rgb(210, 48, 105);
    border-radius: 10px;
    transform: scale(1.04);
}

.navigation-link {
    display: block;
    font-weight: 700;
    padding: 10px;
    margin: 5px;
    border: 3px outset transparent;
    border-radius: 10px;
    text-align: center;
    text-shadow: 1px 1px 2px whitesmoke;
}

.navigation-link:hover {
    background: -webkit-linear-gradient(315deg, rgb(204, 132, 145) 45%, rgb(189, 70, 96) 85%, rgb(210, 48, 105));
    background: -moz-linear-gradient(315deg, rgb(204, 132, 145) 45%, rgb(189, 70, 96) 85%, rgb(210, 48, 105));
    background: linear-gradient(315deg, rgb(204, 132, 145) 45%, rgb(189, 70, 96) 85%, rgb(210, 48, 105));
    border: 3px outset rgb(210, 48, 105);
    border-radius: 10px;
}

.logo,
.submit,
.navigation-link {
    text-decoration: none;
    color: black;
    filter: drop-shadow(1px -2px 3px whitesmoke);
}

.nav-grid {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.navigation-list {
    padding: 10px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
}

.navigation-list li {
    flex-grow: 1;
}

.hero {
    grid-column: 2 / 3;
    grid-row: -1;
    text-align: center;
    margin-bottom: 350px;
}

h1 {
font-size: 65px;
line-height: 1;
padding: 5px;
margin: 0;
margin-top: 10px;
text-shadow: -1px -1px 1px #1e181c,
             2px 2px 1px #46243b;
}

