.button {
  display: block;
  margin: 0;
  font-family: "Tenor Sans", sans-serif;
  font-size: 15px;
  line-height: 17px;
  font-weight: 400;
  text-align: center;

  color: #000000;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 2px;
}