@use "../global/bootstrap.scss";

@include bootstrap.keyframes(topBar_open) {
  0% { transform: translateY(0px) rotate(0deg) ; width: 30px; }
  10% {transform: translateY(-2px) rotate(0deg); width: 30px; }
  50% {transform: translateY(3px) rotate(45deg); width: 30px; }
  75% {transform: translateY(-2px) rotate(45deg); width: 30px; }
  100% {transform: translateY(0) rotate(45deg); width: 30px; }
}

@include bootstrap.keyframes(bottomBar_open) {
  0% { transform: translateY(0px) rotate(0deg) ; width: 30px; }
  10% { transform: translateY(-2px) rotate(0deg) ; width: 30px; }
  60% {transform: translateY(3px) rotate(-45deg); width: 30px; }
  75% {transform: translateY(-2px) rotate(-45deg); width: 30px; }
  100% {transform: translateY(0) rotate(-45deg); width: 30px; }
}

@include bootstrap.keyframes(menuLabel_open) {
  0% { transform: translateY(0px); opacity: 1; }
  25% {transform: translateY(-18px); }
  45% {transform: translateY(28px); opacity: 1; }
  48% {transform: translateY(50px); opacity: 0; }
  100% {transform: translateY(30px); opacity: 0; }
}

@include bootstrap.keyframes(topBar_close) {
  0% {transform: translateY(17px) rotate(45deg); width: 30px; }
  35% {transform: translateY(-8px) rotate(-4deg); width: 30px; }
  53% {transform: translateY(10px) rotate(3deg); width: 30px; }
  70% {transform: translateY(-6px) rotate(0deg); width: 30px; }
  100% { transform: translateY(-2px) rotate(0deg) ; width: 30px; }
}

@include bootstrap.keyframes(bottomBar_close) {
  0% {transform: translateY(-8px) rotate(-45deg); width: 30px; }
  35% {transform: translateY(-18px) rotate(6deg); width: 30px; }
  53% {transform: translateY(0px) rotate(-3deg); width: 30px; }
  68% { transform: translateY(-7px) rotate(0deg) ; width: 30px; }
  100% { transform: translateY(0px) rotate(0deg) ; width: 30px; }
}

@include bootstrap.keyframes(menuLabel_close) {
  0% {transform: translateY(30px); opacity: 0; }
  5% {transform: translateY(25px); opacity: 1; }
  25% {transform: translateY(-30px); opacity: 1; }
  37% {transform: translateY(-22px); opacity: 1; }
  45% {transform: translateY(-22px); opacity: 1; }
  58% {transform: translateY(8px) rotate(-10deg); opacity: 1; }
  83% {transform: translateY(-6px) rotate(0deg); opacity: 1; }
  100% { transform: translateY(0px); opacity: 1; }
}

@include bootstrap.keyframes(menu_opening) {
  0% {transform: translateX(-80px);}
  100% {transform: translateX(0);}
}

.main-navigation {
  @media (min-width: bootstrap.$tablet-width){
    display: flex;
    align-items: center;
  }
}

.main-navigation__container {
  display: flex;
  flex-direction: column;

  @media (min-width: bootstrap.$tablet-width){
    position: relative;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    min-height: 106px;
  }

  @media (min-width: bootstrap.$desktop-width){
    min-height: 130px;
  }
}

// .main-navigation--closed .main-navigation__container {
//   @media (max-width: bootstrap.$mobile-width-only) {
//     display: none;
//   }
// }

.main-navigation__toggle-input:checked {
  & + .main-navigation__container {
    position: absolute;
    top: 86px;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: #ffffff;
    @include bootstrap.animate("menu_opening 1s ease-in-out");
  }

  & + .main-navigation__toggle-icon {
    display: block;
    position: absolute;
    @include bootstrap.center-element;
    width: 30px;
    height: 30px;
  
    &::before,
    &::after {
      position: absolute;
      @include bootstrap.center-element;
      width: 42px;
      height: 3px;
      background-color: #231f20;
      border-radius: 5px;
      content: "";
    }
  
    &::before {  
      @include bootstrap.animate("topBar_open 1s ease-in-out");
      animation-fill-mode: forwards;
    }
  
    &::after {
      @include bootstrap.animate("bottomBar_open 1s ease-in-out");
      animation-fill-mode: forwards;
    }
  }

  & ~ .main-navigation__toggle-text {
    @include bootstrap.animate("menuLabel_open 1s ease-in");
    animation-fill-mode: forwards;
  }
}

.main-navigation__toggle { // это стили, переходящие от button к label
  box-sizing: border-box;
  position: absolute;
  top: 20px;
  right: 18px;

  display: block;
  width: 54px;
  height: 47px;
  padding: 0;

  border: none;

  @media (min-width: bootstrap.$tablet-width) {
    display: none;
  }
}

.main-navigation__toggle-input + .main-navigation__toggle-icon {
  position: inherit;
  @include bootstrap.center-element;

  width: 30px;
  height: 23px;
  padding: 0;

  &:before,
  &:after {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #231f20;
    border-radius: 5px;

    animation-fill-mode: forwards;
    content: "";
  }
  
  &:before {
    top: 0;
    right: 0;
    transform-origin: left center;
    @include bootstrap.animate("topBar_close 1s ease-in-out");
  }
  
  &:after {
    top: 8px;
    right: 0;
    transform-origin: right center;
    @include bootstrap.animate("bottomBar_close 1s ease-in-out");
  }
}



.main-navigation__toggle-text {
  position: inherit;
  bottom: 12px;
  left: 12px;

  display: block;

  font-size: 11px;
  line-height: 10px;
}

.main-navigation__toggle-input:checked ~ .main-navigation__toggle-text {
  @include bootstrap.animate("menuLabel_close 1s ease-in");
  animation-fill-mode: forwards;
}



// .main-navigation--nojs .main-navigation__toggle {
//   display: none;
// }

// Логотип

.main-navigation__logo {
  @media (max-width: bootstrap.$mobile-width-only) {
    display: none;
  }

  @media (min-width: bootstrap.$tablet-width) {
    margin: auto 0;
    margin-right: 54px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    margin-right: 87px;
  }
}

.main-navigation__logo-link {
  &:hover {
    @media (hover: hover) {
      position: relative;
      opacity: 0.7;
    }
  }

  &::after {
    position: absolute;
    right: 90px;
    bottom: 72px;
  
    display: block;
    width: 66px;
    height: 48px;
  
    background-image: url("../../img/logos/logo-hover-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;

    transition: opacity 0.5s ease-in-out;
    opacity: 0;
  
    content: "";
  }

  &:hover::after {
    @media (hover: hover) {
      opacity: 1;
    }
  }
}

.main-navigation__logo-image {
  display: block;
}

// Поиск

.main-navigation__search {
  padding: 0 30px;
  border-bottom: 1px solid #bdbcbc;

  & .menu-link::before {
    transform: rotateY(180deg) translateY(-50%); // зеркально переворачивает маркер в мобильном меню навигации
  }

  @media (min-width: bootstrap.$tablet-width) {
    position: absolute;
    top: 150%;
    right: -50px;

    padding: 0;
    border-bottom: none;
  }
}

.main-navigation__search-text {
  @media (min-width: bootstrap.$tablet-width) {
    display: none;
  }
}

.main-navigation__search-image,
.main-navigation__search-popover {
  @media (max-width: bootstrap.$mobile-width-only) {
    display: none;
  }
}

// Подписка

.main-navigation__subscribe-container .menu-link::before {
  display: none;
}

.main-navigation__subscribe-container {
  @media (min-width: bootstrap.$tablet-width) {
    margin: auto 0;
    margin-left: 54px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    margin-left: 88px;
  }
}

.main-navigation__subscribe-container .main-navigation__subscribe-link { // необходима специфичность селектора более 10
  padding-left: 81px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  background-image: url("../../img/header/subscribe-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/header/subscribe-mobile@2x.png");
  }

  @media (min-width: bootstrap.$tablet-width) {
    box-sizing: border-box;
    
    width: 100px;
    min-height: 76px;
    padding: 8px 0;

    font-size: 16px;
    text-align: center;

    background-image: url("../../img/header/subscribe-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/header/subscribe-tablet@2x.png");
    }
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: 162px;
    min-height: 90px;
    padding: 14px 0;

    font-size: 20px;

    background-image: url("../../img/header/subscribe-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/header/subscribe-desktop@2x.png");
    }
  }
}
