@use "../global/bootstrap.scss";

.main-header {
  width: 100%;

  @media (min-width: bootstrap.$tablet-width) {
    border-bottom: 1px solid #bdbcbc;
  }
}

.main-header__container {
  @media (max-width: bootstrap.$mobile-width-only) {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 80px;
  }

  @media (min-width: bootstrap.$tablet-width) {
    padding: 0 50px;
  }
}

.main-header__logo-container {
  padding: 22px 30px;
  border-bottom: 1px solid #bdbcbc;

  @media (min-width: bootstrap.$tablet-width) {
    display: none;
  }
}