@use "../global/bootstrap.scss";

.main-header {
  width: 100%;
  border-bottom: 1px solid #bdbcbc;
}

.main-header__container {
  display: flex;
  min-height: 80px;
  padding: 0 30px;

  @media (max-width: bootstrap.$mobile-width-only) {
    position: relative;
  }
}

.main-header__logo {
  margin: auto 0;
}