@use "../global/bootstrap.scss";

.site-list {
  @include bootstrap.list-reset;

  @media (min-width: bootstrap.$tablet-width) {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
  }
}

.site-list__item {
  box-sizing: border-box;
  padding: 0 30px;
  border-bottom: 1px solid #bdbcbc;

  @media (min-width: bootstrap.$tablet-width) {
    flex-grow: 1;
    align-self: center;

    padding: 0;

    font-size: 18px;
    text-align: center;

    border-bottom: none;

    &:not(:last-of-type) {
      padding-right: 53px;
    }
  }

  @media (min-width: bootstrap.$desktop-width) {
    font-size: 24px;

    &:not(:last-of-type) {
      padding-right: 96px;
    }
  }
}

.site-list__item:nth-of-type(even) .site-list__link::before {  // зеркально переворачивает маркеры в мобильном меню навигации
  transform: rotateY(180deg) translateY(-50%);
}