@use "../global/bootstrap.scss";

.site-list {
  @include bootstrap.list-reset;
}

.site-list__item {
  box-sizing: border-box;
  padding: 0 30px;
  border-bottom: 1px solid #bdbcbc;
}

.site-list__item:nth-of-type(even) .site-list__link::before {
  transform: rotateY(180deg) translateY(-50%);
}